<div class="animated fadeIn">
  <div class="container">
    <h1 class="text-center">Learn more about <span class="title">Vocab Central!</span></h1>
    <br>
    <p id="info">Vocab Center is a website that helps kids of all ages learn more vocabulary. Start with level one and work your way up! Good luck! </p>
    <div class="aboutBtn"><button class="btn btn-danger span7" ui-sref="signUp"><strong>Sign Up</strong></button></div>
    <div class="text-center" id="homeSignIn">
		<p>Already have an account? <a ui-sref="signIn">Sign In.</a></p>
	</div>
  </div>
</div>